<section>

    <h2>{{site.author}}</h2>
    <a href="https://github.com/Peachtaco"><i class="fa-brands fa-github"></i> Github</a>
    <br>
    <a href="https://www.linkedin.com/in/andyguo1/"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
    <br>
    <a href="mailto:andyguo0228@gmail.com"><i class="fa-regular fa-envelope"></i> andyguo0228@gmail.com</a>
    <p>I am a passionate data analyst with a keen eye for detail and knack for transforming complex data into user friendly visualizations. </p>

</section>