@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    color: #3c403b;
}

h2, h3 {
    line-height: 1;
}

body {
    margin: 0;
    padding: 0;
    color: #3c403b;
    background-color: #fdf5ed;
    font-family: "Inter", -apple-system, "avenir next", avenir, roboto, noto, ubuntu, "helvetica neue", helvetica, sans-serif;
    font-size: 1em;
    line-height: 2;
    margin: 0;
}

.sidebar {
    width: 270px;
    position: fixed;
    float: left;
    margin: 0 20px;
}

.sidebar a {
    text-decoration: none;
    color: #6a8c52;
    text-align: left;
    line-height: 30px;
}

.sidebar h2 {
    line-height: 0.5;
}

.name {
    padding-top: 20px;
}
.name h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;

}

.container {
    display: block;
    width: 960px;
    margin: 50px auto;
}

.nav {
    width: 250px;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.contact {
    display: block;
}

ul.contact-list {
    list-style-type: none;
    padding: 0;
    align-self: end;
    li {
    }
}

.content {
    width: 600px;
    margin: 0 50px;
    float: right;
}

/* CSS for navigation links */
.nav a {
    width: 90%;
    height: 200px;
    text-decoration: none;
    color: #333;
    margin: 10px;
    background-color: red;
}

.nav a:hover {
    background-color: #ddd;
}

/* Project Cards */

ul.horizontal-list {
    display: flex;
    margin-top: 0em;
    margin-left: -40px;
    flex-wrap: wrap;
  
    li {
      display:inline;
      margin-right: 1em;
    }
  
    li a {
      text-decoration: none;
      font-weight: normal
    }
  
  }

.card {
    padding: 1em;
    border: 1px solid;
    width: 11em;
    height: auto;
    text-align: center;
    font-size: 1em;
    align-items: center;
    background-color: #e4dccb;
    margin-bottom: 0.8em;
    border-radius: 0.5em;

    .header {
        color: #6a8c52;
    }
    
    .body {
        font-size: 0.8em;
        color: #3c403b;
    }
    
    hr {
        margin: 0.5em 0;
    }
}

/* highlighter */
pre, code {
    font-family: "Roboto Mono", "Courier New", monospace;
    font-size: 0.9rem;
    white-space: pre-wrap;
  }

  div.highlighter-rouge pre code, pre code.highlighter-rouge {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }
  
  blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1em;
  
    p { margin: 0; }
  }

  .highlight, pre code, blockquote {
    border-radius: 0.5em;
  }