@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
    color: #3c403b;
    visibility: visible;
    opacity: 1;
}

h2,
h3 {
    line-height: 1;
}

body {
    margin: 0;
    padding: 0;
    color: #3c403b;
    background-color: #fdf5ed;
    font-family: "Inter", -apple-system, "avenir next", avenir, roboto, noto, ubuntu, "helvetica neue", helvetica, sans-serif;
    font-size: 1em;
    line-height: 2;
    margin: 0;
}

header {
    width: 270px;
    position: fixed;
    float: left;
    margin: 50px;
}

header a {
    text-decoration: none;
    color: #6a8c52;
    text-align: left;
    line-height: 30px;
}

header h2 {
    line-height: 0.5;
}

header ul.nav-list {
    list-style-type: none;
    padding: 0;
}

.name {
    padding-top: 20px;
}

.name h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;

}

.container {
    display: block;
    width: 960px;
    margin: 50px auto;
}


footer {
    width: 270px;
    position: fixed;
    float: left;
    bottom: 50px;
    margin: 50px;
}

footer ul.contact-list {
    list-style-type: none;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: #6a8c52;
    text-align: left;
    line-height: 30px;
}

.content {
    width: 600px;
    margin: 50px;
    float: right;
}

/* CSS for navigation links */
.nav a {
    width: 90%;
    height: 200px;
    text-decoration: none;
    color: #333;
    margin: 10px;
    background-color: red;
}

.nav a:hover {
    background-color: #ddd;
}

/* Project Cards */

ul.horizontal-list {
    display: flex;
    margin-top: 0em;
    margin-left: -40px;
    flex-wrap: wrap;

    li {
        display: inline;
        margin-right: 1em;
    }

    li a {
        text-decoration: none;
        font-weight: normal
    }

}

.card {
    padding: 1em;
    border: 1px solid;
    width: 11em;
    height: auto;
    text-align: center;
    font-size: 1em;
    align-items: center;
    background-color: #e4dccb;
    margin-bottom: 0.8em;
    border-radius: 0.5em;

    .header {
        color: #6a8c52;
    }

    .body {
        font-size: 0.8em;
        color: #3c403b;
    }

    hr {
        margin: 0.5em 0;
    }
}

/* highlighter */
pre,
code {
    font-family: "Roboto Mono", "Courier New", monospace;
    font-size: 0.9rem;
    white-space: pre-wrap;
}

div.highlighter-rouge pre code,
pre code.highlighter-rouge {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1em;

    p {
        margin: 0;
    }
}

.highlight,
pre code,
blockquote {
    border-radius: 0.5em;
}

/* Image Container */
.image-container {
    position: relative;

}

.small-image {
    width: 600px;
    /* Set the initial smaller size */
    height: auto;
    transition: width 0.3s ease;
    /* Add a smooth transition effect */
    cursor: pointer;
    border-color: #3c403b;
    border-width: 1px;
}

.enlarged-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 9999;
    cursor: pointer;
    /* Add any other styles you want for the enlarged image */
}

@media (max-width: 960px) {
    div.container {
        width: auto;
        margin: 0
    }

    header,
    section,
    footer {
        float: none;
        position: static;
        width: auto;
    }

    header {
        padding-right: 320px
    }

    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px
    }

    header a small {
        display: inline
    }

    header ul {
        position: absolute;
        right: 50px;
        top: 52px
    }
}

@media (max-width: 720px) {
    body {
        word-wrap: break-word
    }

    header {
        padding: 0;
    }

    header ul,
    header p.view {
        position: static
    }

    pre,
    code {
        word-wrap: normal
    }
}

@media (max-width: 480px) {
    body {
        padding: 15px
    }

    .downloads {
        width: 99%
    }

    .downloads li,
    .downloads li+li+li {
        width: 33%
    }
}