<!DOCTYPE html>
<html>

<head>
    <title>Portfolio</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="container">
        <div class="nav">
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a href="#">Projects</a>
            <a href="#">Contact</a>
        </div>
        <div class="content">
            <h1>Welcome to My Portfolio</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget ex neque. Nullam et nulla ut justo
                semper finibus. Aenean eget bibendum sapien, et scelerisque ex. Curabitur ac ultrices leo.</p>
            <p>Mauris dignissim metus leo, non hendrerit lorem malesuada in. Nullam auctor dignissim neque id tincidunt.
                Integer finibus, enim eu pellentesque tincidunt, arcu enim consequat risus, id bibendum justo enim ut
                ligula.</p>
        </div>
    </div>
</body>

</html>